$podemos-color: #54075b;

.masthead {
    background-color: white;

    .masthead__inner-wrap {
        border-bottom: 1px #54075b solid;
    }

    #site-nav {
        background: none;
        color: $podemos-color;

        .site-title {
            color: $podemos-color;
        }

        .masthead__menu-item {
            a {
                color: $podemos-color;
            }
        }
    }
}

.page__title {
    color: $podemos-color;
}

.agenda-events {
    padding: 0;
    margin: 0;
    
    li {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: stretch;
        border-bottom: 1px solid #ddd;

        a[style*="background-image"] {
            height: 200px;
            background-size: cover;
        }

        .agenda-event-info {
            display: flex;
            flex-flow: column;
            align-items: stretch;
            border: 1px solid #eee;
            padding: 30px 30px;

            time {
                font-weight: bold;
                text-align: right;
                font-size: 0.8rem;
                margin-top: 10px;
            }

            .agenda-event-description {
                font-size: 0.9rem;
                margin-top: 10px;
            }
        }

        .agenda-event-link {
            text-align: right;
            padding: 10px;
            font-size: 0.9rem;
            font-weight: bold;
        }
    }
}

.agenda-event-image-container {
    .agenda-event-image {
        height: 35vw;
    }

    .agenda-event-image-link {
        overflow: hidden;
        height: 300px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        background-size: cover;

        .fa-expand {
            padding: 30px;
            margin: 15px;
            background-color: rgba(255,255,255,0.9);
            border-radius: 100px;
            color: black;
            box-shadow: 6px 4px 5px #444;
        }
    }
}

.agenda-event-content {
    padding: 30px 40px;
    font-size: 0.9rem;
    font-weight: normal;
}

#transparencyCategories {
    display: flex;
    flex-flow: column;

    .transparency-category {
        border-width: 6px;
        border-style: solid;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        color: initial;

        &:hover {
            color: inherit;
            text-decoration: none;
        }

        i.fa {
            font-size: 3rem;
            margin-right: 20px;
        }

        span {
            font-size: 1.2rem;
            text-align: center;
        }
    }

    #assemblyMinutes {
        border-color: #0fb0b9;

        i.fa {
            color: #0eb0b9;
        }
    }

    #docs {
        border-color: #54075b;

        i.fa {
            color: #54075b;
        }
    }
}

#transparency-assemblies-year-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    a {
        padding: 0 20px;
        border-right: 1px solid $podemos-color;

        &:last-child {
            border: initial !important;
        }
    }
}

.transparency-assemblies-minutes {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 50px;

    h3 {
        font-size: 1.5rem;
        margin: 0;
        margin-top: 100px;

        &:first-child {
            margin-top: 0;
        }
    }

    article {
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        flex: 1;
        border-bottom: 1px solid $podemos-color;
        padding-bottom: 20px;
        margin: 0;
        margin-top: 20px;

        &:first-child {
            margin-top: initial;
        }

        &:last-child {
            border: none;
        }

        h2 {
            font-size: 1rem;
            margin: 0;
            padding: 0;
        }

        time {
            font-size: 0.8rem;
        }

        a {
            .fa {
                color: #bf1111;
                margin-right: 15px;
            }

            span {
                font-size: 0.8rem;
            }
        }
    }
}

.transparency-docs {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 50px;

    li {
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        flex: 1;
        border-bottom: 1px solid $podemos-color;
        padding-bottom: 20px;
        margin: 0;
        margin-top: 20px;

        &:first-child {
            margin-top: initial;
        }

        &:last-child {
            border: none;
        }

        h2 {
            margin: 0;
            font-size: 1rem;
        }

        a {
            .fa {
                color: #bf1111;
                margin-right: 15px;
            }

            span {
                font-size: 0.8rem;
            }
        }
    }
}

.back-to-transparency{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;

    &:hover {
        text-decoration: none !important;
    }

    .fa {
        font-size: 2rem;
        margin-right: 10px;
    }
}

.goog-te-banner-frame {
    display: none;
}

