$podemos-color: #54075b;

.masthead {
    background-color: white;

    .masthead__inner-wrap {
        border-bottom: 1px #54075b solid;
    }

    #site-nav {
        background: none;
        color: $podemos-color;

        .site-title {
            color: $podemos-color;
        }

        .masthead__menu-item {
            a {
                color: $podemos-color;
            }
        }
    }
}

.page__title {
    color: $podemos-color;
}

.agenda-events {
    padding: 0;
    margin: 0;
    
    li {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: stretch;
        border-bottom: 1px solid #ddd;

        a[style*="background-image"] {
            height: 200px;
            background-size: cover;
        }

        .agenda-event-info {
            display: flex;
            flex-flow: column;
            align-items: stretch;
            border: 1px solid #eee;
            padding: 30px 30px;

            time {
                font-weight: bold;
                text-align: right;
                font-size: 0.8rem;
                margin-top: 10px;
            }

            .agenda-event-description {
                font-size: 0.9rem;
                margin-top: 10px;
            }
        }

        .agenda-event-link {
            text-align: right;
            padding: 10px;
            font-size: 0.9rem;
            font-weight: bold;
        }
    }
}

.agenda-event-image-container {
    .agenda-event-image {
        height: 35vw;
    }

    .agenda-event-image-link {
        overflow: hidden;
        height: 300px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        background-size: cover;

        .fa-expand {
            padding: 30px;
            margin: 15px;
            background-color: rgba(255,255,255,0.9);
            border-radius: 100px;
            color: black;
            box-shadow: 6px 4px 5px #444;
        }
    }
}

.agenda-event-content {
    padding: 30px 40px;
    font-size: 0.9rem;
    font-weight: normal;
}